<div class="top-wrapper" [ngClass]="{'right-direction': selectedLanguage == 'ar', 'mobile-view': isMobile}">

  <!--------------------------->
  <!-- /Addition Panel HTML/ -->
  <!--------------------------->

  <ng-container *ngIf="additionalPanel">
    <div class="widget-wrapper">
      <div class="widget-wrapper-header widget-color">
        <button class="close-widget-wrapper" (click)="closeWrapper()">
          <span class="material-symbols-outlined">
            close
          </span>
        </button>
        <strong>{{title}}</strong>
        <p>{{subtitle}}</p>
      </div>
      <div class="widget-wrapper-content">
        <p>Ask us a question, our support team is pleased to help you.</p>
        <button class="widget-color" (click)="changeScreen((isChatActive == true) ? 'chat' : 'chatForm')">Connect with
          us</button>
      </div>
    </div>
  </ng-container>

  <!------------------------>
  <!-- /Callback Form HTML /->
  <!- ------------------- -->

  <ng-container *ngIf="callbackFormScreen">
    <div class="widget-form-area">
      <div class="widget-form">
        <div class="widget-form-header widget-color" (click)="changeScreen('widget')">
          <h5 id="headerHeading">{{title}}</h5>
          <span class="widget-header-icon">
            <span class="topbar-icon material-symbols-outlined" matTooltip="Minimize"
              [matTooltipPosition]="matToolTipPosition!">minimize</span>
          </span>
        </div>
        <div class="widget-form-content">
          <h4 class="callback-title">Request Callback</h4>
          <p>Please fill out the form below to setup a callback request.</p>
          <form [formGroup]="callbackFormGroup" (ngSubmit)="onCallbackFormSubmit()">
            <mat-spinner [diameter]="50" color="primary" *ngIf="callbackLoader"></mat-spinner>
            <div class="widget-form-group" *ngFor="let attribute of callbackFormData">
              <div [ngSwitch]="attribute.attributeType"
                [style.display]="attribute.key === 'customer_channel_identifier' ? 'none' : 'block'">
                <ng-container *ngSwitchCase="'INPUT'">
                  <label>
                    <span id="{{attribute.key}}">{{attribute.label}}</span>
                    <span class="widget-required" *ngIf="attribute?.isRequired === true">*</span>
                  </label>
                  <input matInput type="text" [formControlName]="attribute.key" [placeholder]="attribute.helpText"
                    class="widget-form-control" autocomplete="off" [required]="attribute?.isRequired"
                    [ngModel]="attribute.key === 'customer_channel_identifier' ? customerIdentifier : ''" />
                </ng-container>
                <ng-container *ngSwitchCase="'OPTIONS'">
                  <label>{{ attribute.categoryOptions.categories[0].categoryName }}</label>
                  <div *ngFor="let option of attribute.categoryOptions.categories[0].values">
                    <input class="radio-btn" type="radio" [id]="option" [name]="attribute.key"
                      [formControlName]="attribute.key" [value]="option" />
                    <label [for]="option">{{ option }}</label>
                  </div>
                </ng-container>
                <div class="clearfix"></div>
                <div class="widget-form-button">
                  <button id="formTrigger" type="submit" [disabled]="callbackFormGroup.invalid"
                    class="widget-btn widget-form-trigger widget-color">Request Callback</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </ng-container>

  <!------------------------>
  <!-- /PreChat Form HTML /->
  <!- ------------------- -->

  <ng-container *ngIf="preChatFormScreen">
    <div class="widget-form-area">
      <div class="widget-form">
        <div class="widget-form-header widget-color" (click)="changeScreen('widget')">
          <h5 id="headerHeading">{{title}}</h5>
          <span class="widget-header-icon">
            <span class="topbar-icon material-symbols-outlined" matTooltip="Minimize"
              [matTooltipPosition]="matToolTipPosition!">minimize</span>
          </span>
        </div>
        <div class="widget-form-content">
          <p>Please fill out the form below to start chatting with an agent now!</p>
          <form [formGroup]="preChatFormGroup" (ngSubmit)="onFormSubmit()">
            <div class="widget-form-group" *ngFor="let attribute of formData">
              <div [ngSwitch]="attribute.attributeType"
                [style.display]="attribute.key === 'customer_channel_identifier' ? 'none' : 'block'">
                <ng-container *ngSwitchCase="'INPUT'">
                  <label>
                    <span id="{{attribute.key}}">{{attribute.label}}</span>
                    <span class="widget-required" *ngIf="attribute?.isRequired === true">*</span>
                  </label>
                  <input matInput type="text" [formControlName]="attribute.key" [placeholder]="attribute.helpText"
                    class="widget-form-control" autocomplete="off" [required]="attribute?.isRequired"
                    [ngModel]="attribute.key === 'customer_channel_identifier' ? customerIdentifier : ''" />
                </ng-container>
                <ng-container *ngSwitchCase="'OPTIONS'">
                  <label>{{ attribute.categoryOptions.categories[0].categoryName }}</label>
                  <div *ngFor="let option of attribute.categoryOptions.categories[0].values">
                    <input class="radio-btn" type="radio" [id]="option" [name]="attribute.key"
                      [formControlName]="attribute.key" [value]="option" />
                    <label [for]="option">{{ option }}</label>
                  </div>
                </ng-container>
                <!-- <div class="transcript-checkbox" *ngIf="enableDownloadTranscript">
                  <input class="check-box widget-form-control" type="checkbox" id="enabled_transcript"
                    formControlName="enabled_transcript">
                  <label><span id="enabled_transcript"> I would like to receive future promotions, offers, and communication.</span></label>
                </div> -->
                <div class="clearfix"></div>
                <div class="widget-form-button">
                  <button id="formTrigger" type="submit" [disabled]="preChatFormGroup.invalid"
                    class="widget-btn widget-form-trigger widget-color">Start Chat</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </ng-container>

  <!------------------------>
  <!-- /Active Chat HTML/ -->
  <!------------------------>

  <ng-container *ngIf="widgetChatScreen">
    <!-- Active chat screen -->
    <div class="widget-form-area">
      <div class="widget-form">
        <!-- Widget Chat Header -->
        <div class="widget-chat-header widget-color">
          <h5 id="title">{{title}}</h5>
          <!-- <div class="widget-header-icon iconThree">
            <span class="material-symbols-outlined">
              pan_zoom
            </span>
          </div> -->
          <div class="widget-header-icon iconTwo" (click)="changeScreen('widget')">
            <span class="material-symbols-outlined minimize" matTooltip="Minimize"
              [matTooltipPosition]="matToolTipPosition!">
              minimize
            </span>
          </div>
          <div class="widget-header-icon iconOne" mat-raised-button (click)="endChat()">
            <span class="material-symbols-outlined close-icon" matTooltip="End Conversation"
              [matTooltipPosition]="matToolTipPosition!">
              close
            </span>
          </div>
        </div>
        <!-- Widget Chat Control Toolbar -->
        <div class="widget-chat-navbar">
          <!-- <span class="widget-navbar-icon btnOne material-symbols-outlined" matTooltip="More Options"
            [matTooltipPosition]="matToolTipPosition!">
            more_vert
          </span> -->
          <span class="material-symbols-outlined widget-navbar-icon" (click)="changeFont()"
            [ngClass]="{'btnOne' :enableFontResize === true}" matTooltip="Change Font Size"
            [matTooltipPosition]="matToolTipPosition!" *ngIf="enableFontResize">
            text_fields
          </span>
          <ng-container *ngIf="fontDropDown">
            <div class="font-dropdown-container">
              <span class="material-symbols-outlined font-dropdown-icon font-dropdown-icon-top" matTooltip="12px"
                [matTooltipPosition]="matToolTipPosition!" [ngClass]="{'active' : fontSize.value == '12'}"
                (click)="setFontSize('12')" [ngClass]="{'btnOne' :enableFontResize === true}">
                text_fields
              </span>
              <span class="material-symbols-outlined font-dropdown-icon font-dropdown-icon-middle" matTooltip="14px"
                [matTooltipPosition]="matToolTipPosition!" [ngClass]="{'active' : fontSize.value == '14'}"
                (click)="setFontSize('14')" [ngClass]="{'btnOne' :enableFontResize === true}">
                text_fields
              </span>
              <span class="material-symbols-outlined font-dropdown-icon font-dropdown-icon-bottom" matTooltip="16px"
                [matTooltipPosition]="matToolTipPosition!" [ngClass]="{'active' : fontSize.value == '16'}"
                (click)="setFontSize('16')" [ngClass]="{'btnOne' :enableFontResize === true}">
                text_fields
              </span>
            </div>
          </ng-container>
          <span class="widget-navbar-divider">|</span>
          <span class="widget-navbar-icon material-symbols-outlined" matTooltip="Request Callback" [ngClass]="{
              'btnTwo' :enableFontResize === true,
              'btnOne' :enableFontResize === false,
              'focus-icon' : (isChatActive === true && activeCallbackView === true),
              'away-chat-icon' : (isChatActive === true  && activeCallbackView === false) }"
            (click)="changeView('callback')" *ngIf="enabledCallback" [matTooltipPosition]="matToolTipPosition!">
            perm_phone_msg
          </span>
          <span class="widget-navbar-icon material-symbols-outlined disable-icon" *ngIf="enableWebRtc" [ngClass]="{
              'btnOne' :(enabledCallback === false && enableFontResize === false),
              'btnThree' :(enabledCallback === true && enableFontResize === true),
              'btnTwo' :(enabledCallback === false || enableFontResize === false)}">
            videocam
          </span>
          <span class="widget-navbar-icon material-symbols-outlined" (click)="changeView('audio')" [ngClass]="{
              'btnTwo' :(enabledCallback === false && enableFontResize === false),
              'btnFour' :(enabledCallback === true && enableFontResize === true),
              'btnThree' :(enabledCallback === false || enableFontResize === false),
              'focus-icon' : (isCallActive === true && activeAudioView === true) ,
              'away-call-icon' : (isCallActive === true  && activeAudioView === false) }" *ngIf="enableWebRtc"
            matTooltip="Audio Call" [matTooltipPosition]="matToolTipPosition!">
            call
          </span>
          <span class="widget-navbar-icon material-symbols-outlined" (click)="changeView('chat')" [ngClass]="{
              'btnOne' :(enabledCallback === false && enableFontResize === false && enableWebRtc === false),
              'btnFive' :(enabledCallback === true && enableFontResize === true && enableWebRtc === true),
              'btnThree' :((enabledCallback === true && enableFontResize === true) || enableWebRtc === true),
              'btnFour' :((enabledCallback === true || enableFontResize === true) && enableWebRtc === true),
              'focus-icon' : (isChatActive === true && activeChatView === true),
              'away-chat-icon' : (isChatActive === true  && activeChatView === false)}" matTooltip="Web Chat"
            [matTooltipPosition]="matToolTipPosition!">
            forum
          </span>
        </div>
        <ng-container *ngIf="activeChatView">
          <!-- Widget Chat Content -->
          <div class="widget-chat-content" #scrollMe>
            <div *ngFor="let message of cimMessage">
              <!-- <div class="widget-chat-alert">
                <span>Please wait we are finding an agent for you</span>
              </div> -->
              <div class="widget-chat-notification-area"
                *ngIf="message.body.type == 'NOTIFICATION' && ((message.body.notificationType == 'NO_AGENT_AVAILABLE') || (message.body.notificationType == 'TASK_ENQUEUED' && message.body.notificationData.data.task.type.direction == 'DIRECT_TRANSFER') || message.body.notificationType == 'AGENT_SUBSCRIBED' || message.body.notificationType == 'AGENT_UNSUBSCRIBED' || message.body.notificationType == 'PARTICIPANT_ROLE_CHANGED')">
                <div class="widget-chat-notification">
                  <span
                    *ngIf="message.body.notificationType=='AGENT_SUBSCRIBED' && message.body.notificationData.data.agentParticipant.role == 'PRIMARY'"
                    innerHTML="{{enableDynamicLink ? (message.body.notificationData.data.agentParticipant.participant.keycloakUser.username) : (message.body.notificationData.data.agentParticipant.participant.keycloakUser.username)}} joined the chat">
                  </span>

                  <span
                    *ngIf="message.body.notificationType=='PARTICIPANT_ROLE_CHANGED' && message.body.notificationData.data.conversationParticipant.role == 'PRIMARY'"
                    innerHTML="{{enableDynamicLink ? (message.body.notificationData.data.conversationParticipant.participant.keycloakUser.username) : (message.body.notificationData.data.agentParticipant.participant.keycloakUser.username)}} joined the chat">
                  </span>

                  <span
                    *ngIf="message.body.notificationType=='AGENT_UNSUBSCRIBED' && message.body.notificationData.data.agentParticipant.role == 'PRIMARY'"
                    innerHTML="{{enableDynamicLink ? (message.body.notificationData.data.agentParticipant.participant.keycloakUser.username) : (message.body.notificationData.data.agentParticipant.participant.keycloakUser.username)}} left the chat">
                  </span>

                  <span *ngIf="message.body.notificationType == 'NO_AGENT_AVAILABLE' "
                    innerHTML="{{enableDynamicLink ? 'No agents are available at the moment' : 'No agents are available at the moment'}}">
                  </span>

                  <div *ngIf="message.body.notificationType == 'TASK_ENQUEUED'">
                    <span *ngIf="message.body.notificationData.data.task.type.direction == 'DIRECT_TRANSFER'"
                      innerHTML="Your request is being transferred to '{{message.body.notificationData.data.queue.name}}' queue, please wait!">
                    </span>
                  </div>
                </div>
              </div>
              <div class="widget-chat-messages"
                *ngIf="message.body.type != 'DELIVERYNOTIFICATION' && message.body.type != 'NOTIFICATION' && message.body.type != 'WRAPUP'">
                <div class="widget-chat-message-customer"
                  *ngIf="message.header.sender.type=='CUSTOMER' || message.header.sender.type=='CONNECTOR'">
                  <div class="customer-message">
                    <div class="header">
                      <span class="name"
                        [ngStyle]="{'font-size':fontSize.value == '14' ? '11px' : fontSize.value == '16' ? '13px': '9px'}">YOU</span>
                      <span class="material-symbols-outlined message-option" matTooltip="Reply"
                        [matTooltipPosition]="matToolTipPosition!">
                        more_vert
                      </span>
                    </div>

                    <span class="message" *ngIf="message.body.type=='PLAIN'"
                      innerHTML="{{enableDynamicLink ? (message.body.markdownText) : (message.body.markdownText)}}"
                      [ngStyle]="{'font-size':fontSize.value+'px', 'line-height':fontSize.value == '14' ? '20px' : fontSize.value == '16' ? '24px': '18px'}">
                    </span>
                    <!-- Message Type Contact -->
                    <div *ngFor="let contact of message.body.contacts">
                      <div *ngIf="message.body.type=='CONTACT'" class="file-message">
                        <span class="message"
                          innerHTML="{{enableDynamicLink ? (contact.name.formattedName) : (contact.name.formattedName)}}"
                          [ngStyle]="{'font-size':fontSize.value+'px', 'line-height':fontSize.value == '14' ? '20px' : fontSize.value == '16' ? '24px': '18px'}">
                        </span>
                        <a href="https://api.whatsapp.com/send?phone={{contact.phones[0].phone}}&text=Hello%2C%20I%20want%20more%20info%20about%20the%20product."
                          target="_blank">
                          {{contact.phones[0].phone}}
                        </a>
                      </div>
                    </div>
                    <!-- Message Type Location -->
                    <div *ngIf="message.body.type=='LOCATION'" class="file-message">
                      <span class="message"
                        innerHTML="{{enableDynamicLink ? (message.body.additionalDetails.name) : (message.body.additionalDetails.name)}}"
                        [ngStyle]="{'font-size':fontSize.value+'px', 'line-height':fontSize.value == '14' ? '20px' : fontSize.value == '16' ? '24px': '18px'}">
                      </span>
                      <a href="http://maps.google.com/?q={{message.body.location.latitude}},{{message.body.location.longitude}}"
                        target="_blank">
                        CLICK HERE
                      </a>
                    </div>
                    <!-- Message Type Image, File, Video, Url -->
                    <div
                      *ngIf="message.body.type=='IMAGE' || message.body.type=='FILE' || message.body.type=='VIDEO' || message.body.type=='URL' ||  message.body.type=='AUDIO'"
                      class="file-message">
                      <span class="message"
                        innerHTML="{{enableDynamicLink ? (message.body.markdownText ? message.body.markdownText : '') : (message.body.markdownText ? message.body.markdownText : '')}}"
                        [ngStyle]="{'font-size':fontSize.value+'px', 'line-height':fontSize.value == '14' ? '20px' : fontSize.value == '16' ? '24px': '18px'}">
                      </span>
                      <a *ngIf="message.body.type=='IMAGE'" href="{{message.body.attachment.mediaUrl}}" target="_blank">
                        <img class="message-image" src="{{message.body.attachment.mediaUrl}}"
                          alt="{{message.body.caption}}" />
                      </a>
                      <a *ngIf="message.body.type=='VIDEO'" href="{{message.body.attachment.mediaUrl}}" target="_blank">
                        <video width="238" height="120" controls>
                          <source src="{{message.body.attachment.mediaUrl}}" type="video/mp4">
                          {{message.body.caption}}
                        </video>
                      </a>
                      <a *ngIf="message.body.type=='AUDIO'" href="{{message.body.attachment.mediaUrl}}" target="_blank">
                        <audio class="audioPlayer" controls>
                          <source src="{{message.body.attachment.mediaUrl}}" type="audio/mpeg">
                          {{message.body.caption}}
                        </audio>
                      </a>
                      <a *ngIf="message.body.type=='URL'" href="{{message.body.mediaUrl}}" target="_blank">
                        CLICK HERE
                      </a>
                      <a *ngIf="message.body.type=='FILE'" href="{{message.body.attachment.mediaUrl}}" target="_blank">
                        <span class="file-name"
                          innerHTML="{{enableDynamicLink ? (message.body.additionalDetails.fileName) : (message.body.additionalDetails.fileName)}}"
                          [ngStyle]="{'font-size':fontSize.value+'px', 'line-height':fontSize.value == '14' ? '20px' : fontSize.value == '16' ? '24px': '18px'}"></span>
                        <img class="file-type-message" src="widget-assets/images/file-type.svg"
                          alt="{{message.body.additionalDetails.fileName}}" />
                        <span class="file-ext-main">
                          {{message.body.attachment.mimeType.split('/')[1] ==
                          'vnd.openxmlformats-officedocument.wordprocessingml.document' ? 'DOCX' :
                          (message.body.attachment.mimeType.split('/')[1] ===
                          'vnd.openxmlformats-officedocument.presentationml.presentation' ? 'PPTX' :
                          message.body.attachment.mimeType.split('/')[1])}}
                        </span>
                      </a>
                    </div>
                    <span class="time">{{message.header.timestamp | date:'h:mm a'}}</span>
                    <span class="material-symbols-outlined delivery-checks"
                      [ngClass]="{'delivered' : message.sendStatus == 'successed' , 'failed' : message.sendStatus == 'failed', 'seen' : message.sendStatus == 'seen'}">
                      done_all
                    </span>
                  </div>
                </div>
                <div class="widget-chat-message-agent"
                  *ngIf="message.header.sender.type == 'AGENT' || message.header.sender.type == 'BOT'">
                  <div [ngClass]="(message.header.sender.type == 'AGENT') ? 'agent-img' : 'bot-img'">
                    <img
                      src="../../widget-assets/images/{{(message.header.sender.type == 'AGENT') ? 'user.png' : 'robot-dark.svg'}}"
                      alt="avatar">
                  </div>
                  <div class="agent-message">
                    <div class="header">
                      <span class="name" *ngIf="message.header.sender.type == 'AGENT'"
                        [ngStyle]="{'font-size':fontSize.value == '14' ? '11px' : fontSize.value == '16' ? '13px': '9px'}">{{message.header.sender.senderName.toUpperCase()}}</span>
                      <span class="material-symbols-outlined message-option" matTooltip="Reply"
                        [matTooltipPosition]="matToolTipPosition!" *ngIf="message.header.sender.type == 'AGENT'">
                        more_vert
                      </span>
                    </div>

                    <!-- <span class="message">Hello! I need general info regarding your upcoming products line.</span> -->
                    <span class="message" *ngIf="message.body.type=='PLAIN'"
                      innerHTML="{{enableDynamicLink ? (message.body.markdownText) : (message.body.markdownText)}}"
                      [ngStyle]="{'font-size':fontSize.value+'px', 'line-height':fontSize.value == '14' ? '20px' : fontSize.value == '16' ? '24px': '18px'}">
                    </span>
                    <!-- Message Type Button -->
                    <div class="structured-message-area" [ngClass]="{'custom-theme': theme !== ''}"
                      *ngIf="message.body.type=='BUTTON'">
                      <span class="structured-btn-heading"
                        innerHTML="{{enableDynamicLink ? (message.body.additionalDetails.interactive.header.text) : (message.body.additionalDetails.interactive.header.text)}}"
                        [ngStyle]="{'font-size':fontSize.value+'px', 'line-height':fontSize.value == '14' ? '20px' : fontSize.value == '16' ? '24px': '18px'}">
                      </span>
                      <span class="message"
                        innerHTML="{{enableDynamicLink ? (message.body.additionalDetails.interactive.body.text) : (message.body.additionalDetails.interactive.body.text)}}"
                        [ngStyle]="{'font-size':fontSize.value+'px', 'line-height':fontSize.value == '14' ? '20px' : fontSize.value == '16' ? '24px': '18px'}">
                      </span>
                      <mat-chip-list class="structure-message-chips" aria-label="Fish selection">
                        <mat-chip *ngFor="let btn of message.body.buttons" (click)="sendButtonMessage(btn, message.id)">
                          {{btn.title}}</mat-chip>
                      </mat-chip-list>
                    </div>
                    <!-- Message Type Contact -->
                    <div *ngFor="let contact of message.body.contacts">
                      <div *ngIf="message.body.type=='CONTACT'" class="file-message">
                        <span class="message"
                          innerHTML="{{enableDynamicLink ? (contact.name.formattedName) : (contact.name.formattedName)}}"
                          [ngStyle]="{'font-size':fontSize.value+'px', 'line-height':fontSize.value == '14' ? '20px' : fontSize.value == '16' ? '24px': '18px'}">
                        </span>
                        <a href="https://api.whatsapp.com/send?phone={{contact.phones[0].phone}}&text=Hello%2C%20I%20want%20more%20info%20about%20the%20product."
                          target="_blank">
                          {{contact.phones[0].phone}}
                        </a>
                      </div>
                    </div>
                    <!-- Message Type Location -->
                    <div *ngIf="message.body.type=='LOCATION'" class="file-message">
                      <span class="message"
                        innerHTML="{{enableDynamicLink ? (message.body.additionalDetails.name) : (message.body.additionalDetails.name)}}"
                        [ngStyle]="{'font-size':fontSize.value+'px', 'line-height':fontSize.value == '14' ? '20px' : fontSize.value == '16' ? '24px': '18px'}">
                      </span>
                      <a href="http://maps.google.com/?q={{message.body.location.latitude}},{{message.body.location.longitude}}"
                        target="_blank">
                        CLICK HERE
                      </a>
                    </div>
                    <!-- Message Type Image, File, Video, Url -->
                    <div
                      *ngIf="message.body.type=='IMAGE' || message.body.type=='FILE' || message.body.type=='VIDEO' || message.body.type=='URL' ||  message.body.type=='AUDIO'"
                      class="file-message">
                      <span class="message"
                        innerHTML="{{enableDynamicLink ? (message.body.markdownText ? message.body.markdownText :'') : (message.body.markdownText ? message.body.markdownText : '')}}"
                        [ngStyle]="{'font-size':fontSize.value+'px', 'line-height':fontSize.value == '14' ? '20px' : fontSize.value == '16' ? '24px': '18px'}">
                      </span>
                      <a *ngIf="message.body.type=='IMAGE'" href="{{message.body.attachment.mediaUrl}}" target="_blank">
                        <img class="message-image" src="{{message.body.attachment.mediaUrl}}"
                          alt="{{message.body.caption}}" />
                      </a>
                      <a *ngIf="message.body.type=='VIDEO'" href="{{message.body.attachment.mediaUrl}}" target="_blank">
                        <video width="225" height="120" controls>
                          <source src="{{message.body.attachment.mediaUrl}}" type="video/mp4">
                          {{message.body.caption}}
                        </video>
                      </a>
                      <a *ngIf="message.body.type=='AUDIO'" href="{{message.body.attachment.mediaUrl}}" target="_blank">
                        <audio class="audioPlayer" controls>
                          <source src="{{message.body.attachment.mediaUrl}}" type="audio/mpeg">
                          {{message.body.caption}}
                        </audio>
                      </a>
                      <a *ngIf="message.body.type=='URL'" href="{{message.body.mediaUrl}}" target="_blank">
                        CLICK HERE
                      </a>
                      <a *ngIf="message.body.type=='FILE'" href="{{message.body.attachment.mediaUrl}}" target="_blank">
                        <span class="file-name"
                          innerHTML="{{enableDynamicLink ? (message.body.additionalDetails.fileName) : (message.body.additionalDetails.fileName)}}"
                          [ngStyle]="{'font-size':fontSize.value+'px', 'line-height':fontSize.value == '14' ? '20px' : fontSize.value == '16' ? '24px': '18px'}"></span>
                        <img class="file-type-message" src="widget-assets/images/file-type.svg"
                          alt="{{message.body.additionalDetails.fileName}}" />
                        <span class="file-ext-main">{{message.body.attachment.mimeType.split('/')[1] ==
                          'vnd.openxmlformats-officedocument.wordprocessingml.document' ? 'DOCX' :
                          message.body.attachment.mimeType.split('/')[1]}}</span>
                      </a>
                    </div>
                    <span class="time">{{message.header.timestamp | date:'h:mm a'}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Widget Typing Indicators -->
          <div class="typing-indicator" *ngIf="typingIndicatorTimer">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <!-- File Preview Area -->
          <div class="file-preview-cover" *ngIf="imageUrls.length > 0">
            <div *ngFor='let file of imageUrls; let i = index' class="preview-file">
              <mat-spinner [diameter]="50" color="primary" *ngIf="fileLoading"></mat-spinner>
              <!-- Preview for Image & Docx File -->
              <div *ngIf="file.fileType != 'video' && file.fileType != 'audio'">
                <img *ngIf="file.filesPath"
                  [attr.src]="file.fileType == 'image' ? file.filesPath : 'widget-assets/images/file-type.svg'" />
                <span>{{file.fileName}}</span>
                <span *ngIf="file.fileType !== 'image'" class="file-type">
                  {{ file.fileExt === 'vnd.openxmlformats-officedocument.wordprocessingml.document' ? 'DOCX' :
                  (file.fileExt === 'vnd.openxmlformats-officedocument.presentationml.presentation' ? 'PPTX' :
                  file.fileExt) }}
                </span>
              </div>
              <!-- Preview for Video File -->
              <div *ngIf="file.fileType == 'video'">
                <video class="videoPlayer" *ngIf="file.filesPath" controls>
                  <source [attr.src]="file.filesPath" [attr.type]="file.fileType+'/'+file.fileExt">
                  Your browser does not support the video tag.
                </video>
                <span>{{file.fileName}}</span>
              </div>
              <!-- Preview for Audio File -->
              <div class="audioPlayer" *ngIf="file.fileType == 'audio'">
                <audio *ngIf="file.filesPath" controls>
                  <source [attr.src]="file.filesPath" [attr.type]="file.fileType+'/'+file.fileExt">
                  Your browser does not support the video tag.
                </audio>
                <span>{{file.fileName}}</span>
              </div>
            </div>
            <mat-icon *ngIf="!fileLoading" (click)="removeUploadFile()">close</mat-icon>
          </div>
          <!-- Widget Message Composer -->
          <div class="maxLimitError" *ngIf="text.length == messageLimit"><span>Max Limit Reached</span></div>
          <div class="widget-composer">
            <span class="material-symbols-outlined emoji-btn" *ngIf="enableEmoji">
              add_reaction
            </span>
            <textarea class="widget-chat-composer" data-emoji-picker="true" matInput id="messageTextarea"
              cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="4"
              placeholder="Type Message Here ..." #message maxlength="{{messageLimit}}" [(ngModel)]="text"
              (change)="textChanged()" (focus)="onTextAreaFocus();" (keyup)="onKeyPress($event)"
              (keyup.enter)="isMobile ? '' : onSendMessage()" (keyup.enter)="onEnterKey($event)"
              [ngClass]="{'error-border': text.length == messageLimit,'resize-left' :enableEmoji === false,'resize-right' :enableFileTransfer === false}"></textarea>
            <div id="file-btn" *ngIf="enableFileTransfer && text.length < 1 && imageUrls?.length == 0">
              <label for="file-upload">
                <span class="material-symbols-outlined file-btn" matTooltip="File Transfer"
                  [matTooltipPosition]="matToolTipPosition!">
                  attach_file
                </span>
              </label>
              <input accept=".rtf,.txt,.png,.jpg,.jpeg,.pdf,.ppt,.xlsx,.xls,.doc,.docx,.mp4,.mp3,.mpga,.webp,.pptx,.ppt"
                id="file-upload" type="file" name="file-upload" (change)="previewFile($event)" />
            </div>
            <span class="material-symbols-outlined send-btn" *ngIf="isTyping" (click)="onSendMessage()">
              send
            </span>
          </div>

        </ng-container>
        <!-- Call View Screen -->
        <ng-container *ngIf="activeAudioView">
          <div class="widget-audio-section">
            <div class="audio-agent">
              <img src="../../widget-assets/images/dummy-user.svg" alt="agent call icon">
            </div>
            <div class="agent-detail">
              <p class="name">Expertflow Agent</p>
              <p id='call_status' class="text">Call in Progress</p>
              <p class="timer">{{callTime}}</p>
            </div>
            <div class="widget-composer">
              <div class="widget-call-controls">
                <div class="control-btn disable-icon-callControl">
                  <span class="material-symbols-outlined">
                    present_to_all
                  </span>
                </div>
                <div class="control-btn disable-icon-callControl">
                  <span class="material-symbols-outlined">
                    videocam
                  </span>
                </div>
                <div class="control-btn" [ngClass]="{'end-call' : isCallMute === true}">
                  <span class="material-symbols-outlined" innerHTML="{{isCallMute ? 'mic_off' : 'mic'}}"
                    (click)="toggleCallMic()">
                  </span>
                </div>
                <div class="control-btn disable-icon-callControl">
                  <span class="material-symbols-outlined" innerHTML="{{isCallOnHold ? 'play_arrow' : 'pause'}}">
                  </span>
                </div>
                <div class="control-btn">
                  <span class="material-symbols-outlined">
                    more_horiz
                  </span>
                </div>
                <div class="control-btn end-call" (click)="callEnd()">
                  <span class="material-symbols-outlined">
                    call_end
                  </span>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <!-- Callback View Screen -->
        <ng-container *ngIf="activeCallbackView">
          <div class="widget-callback-form-content">
            <h4 class="callback-title">Request Callback</h4>
            <p>Please fill out the form below to setup a callback request.</p>
            <form [formGroup]="callbackFormGroup" (ngSubmit)="onCallbackFormSubmit()">
              <mat-spinner [diameter]="50" color="primary" *ngIf="callbackLoader"></mat-spinner>
              <div class="widget-form-group" *ngFor="let attribute of callbackFormData">
                <div [ngSwitch]="attribute.attributeType"
                  [style.display]="attribute.key === 'customer_channel_identifier' ? 'none' : 'block'">
                  <ng-container *ngSwitchCase="'INPUT'">
                    <label>
                      <span id="{{attribute.key}}">{{attribute.label}}</span>
                      <span class="widget-required" *ngIf="attribute?.isRequired === true">*</span>
                    </label>
                    <input matInput type="text" [formControlName]="attribute.key" [placeholder]="attribute.helpText"
                      class="widget-form-control" autocomplete="off" [required]="attribute?.isRequired"
                      [ngModel]="attribute.key === 'customer_channel_identifier' ? customerIdentifier : ''" />
                  </ng-container>
                  <ng-container *ngSwitchCase="'OPTIONS'">
                    <label>{{ attribute.categoryOptions.categories[0].categoryName }}</label>
                    <div *ngFor="let option of attribute.categoryOptions.categories[0].values">
                      <input class="radio-btn" type="radio" [id]="option" [name]="attribute.key"
                        [formControlName]="attribute.key" [value]="option" />
                      <label [for]="option">{{ option }}</label>
                    </div>
                  </ng-container>
                  <div class="clearfix"></div>
                  <div class="widget-form-button">
                    <button id="formTrigger" type="submit" [disabled]="callbackFormGroup.invalid"
                      class="widget-btn widget-form-trigger widget-color">Request Callback</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </ng-container>
        <!-- Callback Response View Screen -->
        <ng-container *ngIf="activeCallbackResponseView">
          <div class="widget-callback-response-content">
            <div class="response-icon">
              <span class="material-symbols-outlined response-emoji"
                innerHTML="{{ callbackResponseStatus === 'ok' ? 'check_circle' : callbackResponseStatus === 'conflict' ? 'error' : 'sentiment_dissatisfied' }}">
              </span>
              <span
                innerHTML="{{ callbackResponseStatus === 'ok' ? 'Success!' : callbackResponseStatus === 'conflict' ? 'Conflict!' : 'Sorry!' }}"></span>
            </div>
            <div class="response-message">
              <h4
                innerHTML="{{ callbackResponseStatus === 'ok' ?
              'Your request for setting up a callback was submitted successfully.' : callbackResponseStatus === 'conflict' ?
              'Your Callback Request has already been scheduled, Please Wait!!!' :
              'We are currently encountering some technical problems with our server. Your request for setting up a callback could not be submitted.' }}">
              </h4>
              <p innerHTML="{{ callbackResponseStatus === 'ok' ?
              'You will receive a callback on the contact number provided. For additional queries, you can reach out to us through our live chat.' : callbackResponseStatus === 'conflict' ?
              'Your Callback has already been scheduled, agent will get back to you. For additional queries, you can reach out to us through our live chat.' :
              'Please try again in a few minutes or consider reaching out to us through our live chat.' }}"></p>
            </div>

            <div class="widget-response-button">
              <input class="widget-response-trigger call-btn" (click)="changeView('chat')"
                value="Return to conversation">
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>

  <!------------------------>
  <!------ /Call Popup ----->
  <!------------------------>

  <ng-container *ngIf="callPopUpView">
    <div class="widget-call-area">
      <div class="call-popup">
        <p>Initiating Voice Call</p>
        <div class="audio-agent">
          <div class="loader"></div>
          <img src="../../widget-assets/images/dummy-user.svg" alt="agent call icon">
          <!-- <span class="material-symbols-outlined">videocam</span> -->
        </div>
        <div class="agent-detail">
          <p class="name">Expertflow Agent</p>
        </div>
        <div class="end-call-btn" (click)="callEnd()">
          <div class="end-call-btn-sm">
            <span class="material-symbols-outlined">
              call_end
            </span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <!------------------------>
  <!---- /Chat End HTML ---->
  <!------------------------>

  <ng-container *ngIf="chatEndScreen">
    <!-- Error screen -->
    <div class="widget-form-area">
      <div class="widget-form">
        <div class="widget-chat-header widget-color">
          <h5 id="title">{{title}}</h5>
          <!-- <div class="widget-header-icon iconTwo">
            <span class="material-symbols-outlined">
              pan_zoom
            </span>
          </div> -->
          <div class="widget-header-icon iconOne" (click)="changeScreen('widget')">
            <span class="material-symbols-outlined minimize" matTooltip="Minimize"
              [matTooltipPosition]="matToolTipPosition!">
              minimize
            </span>
          </div>
        </div>
        <div class="widget-error-content">
          <div class="error-icon">
            <span class="material-symbols-outlined error-emoji">
              sentiment_satisfied
            </span>
            <span>Thank You!</span>
          </div>
          <div class="error-message">
            <p>It was our pleasure assisting you with your query.
            </p>
            <!-- <p><b>However, you can view your chat session.</b></p>
            <p>We will get back to you as soon as issue is resolved.</p> -->
          </div>
        </div>
        <div class="widget-composer">
          <div class="widget-error-button">
            <!-- <input id="formTrigger" type="submit" class="widget-error-trigger call-btn" value="Call on my number"
              *ngIf="enableWebRtc"> -->
            <input id="formTrigger" type="submit" class="widget-error-trigger" value="Download Transcript"
              *ngIf="enableDownloadTranscript" (click)="chatTranscript()">
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <!---------------------------------------->
  <!---- /Callback Response Screen HTML ---->
  <!---------------------------------------->

  <ng-container *ngIf="callbackResponseScreen">
    <!-- Error screen -->
    <div class="widget-form-area">
      <div class="widget-form">
        <div class="widget-chat-header widget-color">
          <h5 id="title">{{title}}</h5>
          <div class="widget-header-icon iconOne" (click)="changeScreen('widget')">
            <span class="material-symbols-outlined minimize" matTooltip="Minimize"
              [matTooltipPosition]="matToolTipPosition!">
              minimize
            </span>
          </div>
        </div>
        <div class="widget-error-content">
          <div class="error-icon">
            <span class="material-symbols-outlined error-emoji"
              innerHTML="{{ callbackResponseStatus === 'ok' ? 'check_circle' : callbackResponseStatus === 'conflict' ? 'error' : 'sentiment_dissatisfied' }}">
            </span>
            <span
              innerHTML="{{ callbackResponseStatus === 'ok' ? 'Success!' : callbackResponseStatus === 'conflict' ? 'Conflict!' : 'Sorry!' }}"></span>
          </div>
          <div class="error-message">
            <h4
              innerHTML="{{ callbackResponseStatus === 'ok' ?
              'Your request for setting up a callback was submitted successfully.' : callbackResponseStatus === 'conflict' ?
              'Your Callback Request has already been scheduled, Please Wait!!!' :
              'We are currently encountering some technical problems with our server. Your request for setting up a callback could not be submitted.' }}">
            </h4>
            <p innerHTML="{{ callbackResponseStatus === 'ok' ?
              'You will receive a callback on the contact number provided. For additional queries, you can reach out to us through our live chat.' : callbackResponseStatus === 'conflict' ?
              'Your Callback has already been scheduled, agent will get back to you. For additional queries, you can reach out to us through our live chat.' :
              'Please try again in a few minutes or consider reaching out to us through our live chat.' }}"></p>
          </div>
        </div>
        <div class="widget-composer">
          <div class="widget-error-button">
            <input id="formTrigger" type="submit" class="widget-error-trigger call-btn" value="Start a conversation"
              (click)="changeScreen('chatForm')">
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <!------------------------>
  <!-- /Chat Error HTML ---->
  <!------------------------>

  <ng-container *ngIf="chatError">
    <!-- Error screen -->
    <div class="widget-form-area">
      <div class="widget-form">
        <div class="widget-chat-header widget-color">
          <h5 id="title">{{title}}</h5>
          <!-- <div class="widget-header-icon iconTwo">
            <span class="material-symbols-outlined">
              pan_zoom
            </span>
          </div> -->
          <div class="widget-header-icon iconOne" (click)="changeScreen('widget')">
            <span class="material-symbols-outlined minimize" matTooltip="Minimize"
              [matTooltipPosition]="matToolTipPosition!">
              minimize
            </span>
          </div>
        </div>
        <div class="widget-error-content">
          <div class="error-icon">
            <span class="material-symbols-outlined error-emoji">
              sentiment_dissatisfied
            </span>
            <span>Sorry!</span>
          </div>
          <div class="error-message">
            <p>We are experiencing some technical problem with our server. Your chat with agent / BOT has been disabled.
            </p>
            <p><b>However, you can view your chat session.</b></p>
            <p>We will get back to you as soon as issue is resolved.</p>
          </div>
        </div>
        <div class="widget-composer">
          <div class="widget-error-button">
            <input id="formTrigger" type="submit" class="widget-error-trigger call-btn" value="Call on my number"
              *ngIf="enableWebRtc">

            <input id="formTrigger" type="submit" class="widget-error-trigger" value="Send me transcript"
              *ngIf="enableDownloadTranscript">
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <!---------------------->
  <!-- /Chat Icon HTML/ -->
  <!---------------------->

  <ng-container *ngIf="isIconWidget">
    <!-- Callback Icon -->
    <div class="widget-icon widget-icon-callback" *ngIf="standaloneCallback">

      <div class="widget-icon-content" *ngIf="isCallbackMax">
        <button id="chatIconBtn" title="Live Chat" class="widget-bar-trigger widget-chat-trigger widget-color"
          (click)="changeScreen('widget')">
          <span class="chat-icon material-symbols-outlined">
            close
          </span>
        </button>
      </div>

      <div class="widget-icon-content" *ngIf="!isCallbackMax">
        <button id="chatIconBtn" title="Live Chat" class="widget-bar-trigger widget-chat-trigger widget-color"
          (click)="changeScreen('callbackForm')">
          <span class="chat-icon material-symbols-outlined">
            perm_phone_msg
          </span>
        </button>
      </div>

    </div>
    <!-- Chat Widget Icon -->
    <div class="widget-icon widget-icon-chat">

      <div class="widget-icon-content" *ngIf="isChatMax">
        <button id="chatIconBtn" title="Live Chat" class="widget-bar-trigger widget-chat-trigger widget-color"
          (click)="changeScreen('widget')">
          <span class="chat-icon material-symbols-outlined">
            close
          </span>
        </button>
      </div>

      <div class="widget-icon-content" *ngIf="!isChatMax">
        <button id="chatIconBtn" title="Live Chat" class="widget-bar-trigger widget-chat-trigger widget-color"
          (click)="changeScreen((isChatActive == true) ? 'chat' : 'chatForm')">
          <span class="chat-icon material-symbols-outlined">
            sms
          </span>
        </button>
      </div>

    </div>
  </ng-container>

</div>

<!-- Sound Notification Starts-->
<div id="notificationSound">
  <audio controls id="soundNotif" [muted]="false" [hidden]="true">
    <source src="widget-assets/sounds/beep.ogg" type="audio/ogg">
    <source src="widget-assets/sounds/beep.mp3" type="audio/mpeg">
    <source src="widget-assets/sounds/beep.wav" type="audio/wav">
  </audio>
</div>
<!-- Sound Notification Ends-->
