<div class="top-wrapper">
  <!--------------------------->
  <!-- /Addition Panel HTML/ -->
  <!--------------------------->
  <ng-container *ngIf="additionalPanel">
    <div class="welcomeWrapper">
      <div class="welcome-header ef-widget-color">
        <button class="close-wrapper" (click)="closeWrapper()"><img src="../../assets/images/add.svg" alt="close">
        </button>
        <strong>Expertflow Live</strong>
        <p>Available 8am - 12am</p>
      </div>
      <div class="welcome-content">
        <p>Ask us a question, our support team is pleased to help you.</p>
        <button class="ef-widget-color" (click)="showPreChatForm()">Connect with us</button>
      </div>
    </div>
  </ng-container>

  <!--------------------->
  <!--/Chat Icon HTML/ -->
  <!--------------------->
  <ng-container *ngIf="isIconWidget">
    <div class="ef-widget-dropdown ef-widget-is-loading " id="dropdownTrigger">
      <div id="myDropdown" class="ef-widget-dropdown-content">
        <button id="chatIconBtn" title="Live Chat"
          class="ef-widget-inner-trigger ef-widget-chat-trigger ef-widget-option-trigger ef-widget-color"
          (click)="showPreChatForm()">
          <span id="chatText">Live Chat</span>
        </button>
      </div>
    </div>
  </ng-container>

  <!---------------------->
  <!-- /Chat Bar HTML/ --->
  <!---------------------->
  <ng-container *ngIf="isBarWidget">
    <div class="ef-widget-is-loading ef-widget-dropdown ef-widget-bar-view" id="dropdownTrigger">
      <div id="myDropdown" class="ef-widget-bar-content">
        <button id="chatIconBtn" title="Live Chat" class="ef-widget-bar-trigger ef-widget-chat-trigger ef-widget-color"
          (click)="showPreChatForm()">
          <span id="chatText">Live Chat</span>
        </button>
      </div>
    </div>
  </ng-container>

  <!------------------------>
  <!-- /PreChat Form HTML /->
  <!- ------------------- -->
  <ng-container *ngIf="preChatForm">
    <div class="ef-widget-chat-form-area">
      <div class="ef-widget-chat-form">
        <div class="ef-widget-form-header ef-widget-color" onclick="chatFormAction()">
          <h5 id="headerHeading">Let's Chat</h5>
          <span class="ef-widget-header-icon"><img src="../../assets/images/remove.svg" alt="minimize"> </span>
        </div>
        <div class="ef-widget-form-area">

          <form [formGroup]="preChatFormGroup" (ngSubmit)="onSubmit()">
            <div class="ef-widget-chat-form-content">

              <div class="ef-widget-form-group">
                <label><span id="name">Full Name</span><span class="ef-widget-required"></span></label>
                <input matInput type="text" formControlName="name" class="ef-widget-form-control" autocomplete="off"
                  required>
                <mat-error class="form-error">
                  {{formErrors.name}}
                </mat-error>
              </div>
              <div class="ef-widget-clearfix"></div>

              <div class="ef-widget-form-group">
                <label><span id="email">Email</span></label>
                <input matInput type="email" formControlName="email" class="ef-widget-form-control" autocomplete="off"
                  required>
                <mat-error class="form-error">
                  {{formErrors.email}}
                </mat-error>
              </div>
              <div class="clearfix"></div>

              <div class="ef-widget-form-group">
                <label><span id="phone">Phone</span></label>
                <input type="text" matInput formControlName="phone" class="ef-widget-form-control" autocomplete="off"
                  required>
                <mat-error class="form-error">
                  {{formErrors.phone}}
                </mat-error>
              </div>
              <div class="clearfix"></div>

              <div class="ef-widget-form-group">
                <label><span id="channel_identifier">Customer Channel Identifier</span><span
                    class="ef-widget-required">*</span></label>
                <input type="text" matInput formControlName="channel_identifier" class="ef-widget-form-control"
                  autocomplete="off" required>
                <mat-error class="form-error">
                  {{formErrors.channel}}
                </mat-error>
              </div>
              <div class="clearfix"></div>
            </div>
            <input id="formTrigger" type="submit" [disabled]="preChatFormGroup.invalid"
              class="ef-widget-btn ef-widget-form-trigger ef-widget-color" value="Start Chat">

          </form>
        </div>
      </div>
    </div>

  </ng-container>

  <ng-container *ngIf="chatActive">
    <!-- Active chat screen -->
  </ng-container>

  <ng-container *ngIf="chatEnded">
    <!-- End chat screen -->
  </ng-container>

</div>
