<div class="top-wrapper">
  <!--------------------------->
  <!-- /Addition Panel HTML/ -->
  <!--------------------------->
  <ng-container *ngIf="additionalPanel">
    <div class="widget-wrapper">
      <div class="widget-wrapper-header widget-color">
        <button class="close-widget-wrapper" (click)="closeWrapper()">
          <span class="material-symbols-outlined">
            close
          </span>
        </button>
        <strong>Expertflow Live</strong>
        <p>Available 8am - 12am</p>
      </div>
      <div class="widget-wrapper-content">
        <p>Ask us a question, our support team is pleased to help you.</p>
        <button class="widget-color" (click)="showPreChatForm()">Connect with us</button>
      </div>
    </div>
  </ng-container>

  <!--------------------->
  <!--/Chat Icon HTML/ -->
  <!--------------------->
  <ng-container *ngIf="isIconWidget">
    <div class="widget-dropdown widget-loading" id="dropdownTrigger">
      <div id="myDropdown" class="widget-dropdown-content">
        <button id="chatIconBtn" title="Live Chat"
          class="widget-inner-trigger widget-chat-trigger widget-option-trigger widget-color"
          (click)="showPreChatForm()">
          <span id="chatText">Live Chat</span>
        </button>
      </div>
    </div>
  </ng-container>

  <!---------------------->
  <!-- /Chat Bar HTML/ --->
  <!---------------------->
  <ng-container *ngIf="isBarWidget">
    <div class="widget-loading widget-dropdown widget-bar-view" id="dropdownTrigger">
      <div id="myDropdown" class="widget-bar-content">
        <button id="chatIconBtn" title="Live Chat" class="widget-bar-trigger widget-chat-trigger widget-color"
          (click)="showPreChatForm()">
          <span id="chatText">Live Chat</span>
        </button>
      </div>
    </div>
  </ng-container>

  <!------------------------>
  <!-- /PreChat Form HTML /->
  <!- ------------------- -->
  <ng-container *ngIf="preChatForm">
    <div class="widget-form-area">
      <div class="widget-form">
        <div class="widget-form-header widget-color" onclick="chatFormAction()">
          <h5 id="headerHeading">Let's Talk</h5>
          <span class="widget-header-icon"><img src="../../assets/images/remove.svg" alt="minimize"> </span>
        </div>
        <div class="widget-form-content">
          <h4>Please fill out the form below to start chatting with an agent now!</h4>
          <form [formGroup]="preChatFormGroup" (ngSubmit)="onSubmit()">
            <div class="widget-form-group">
              <label><span id="name">Name</span><span class="widget-required"></span></label>
              <input matInput type="text" formControlName="name" class="widget-form-control" autocomplete="off"
                required>
              <mat-error class="form-error">
                {{formErrors.name}}
              </mat-error>
            </div>
            <div class="widget-clearfix"></div>

            <div class="widget-form-group">
              <label><span id="email">Email</span></label>
              <input matInput type="email" formControlName="email" class="widget-form-control" autocomplete="off"
                required>
              <mat-error class="form-error">
                {{formErrors.email}}
              </mat-error>
            </div>
            <div class="clearfix"></div>

            <div class="widget-form-group">
              <label><span id="phone">Phone</span></label>
              <input type="text" matInput formControlName="phone" class="widget-form-control" autocomplete="off"
                required>
              <mat-error class="form-error">
                {{formErrors.phone}}
              </mat-error>
            </div>
            <div class="clearfix"></div>

            <div class="widget-form-group">
              <label><span id="channelIdentifier">Customer Channel Identifier</span><span
                  class="widget-required">*</span></label>
              <input type="text" matInput formControlName="channelIdentifier" class="widget-form-control"
                autocomplete="off" required>
              <mat-error class="form-error">
                {{formErrors.channelIdentifier}}
              </mat-error>
            </div>
            <div class="clearfix"></div>
            <div class="transript-checkbox">
              <input class="check-box widget-form-control" type="checkbox" id="transcript" formControlName="transcript">
              <label><span id="transcript"> I would like to receive the transcript of this session at the
                  end.</span></label>
            </div>
            <div class="clearfix"></div>
            <div class="widget-form-button">
              <input id="formTrigger" type="submit" [disabled]="preChatFormGroup.invalid"
                class="widget-btn widget-form-trigger widget-color" value="Start Chat">
            </div>
          </form>
        </div>
      </div>
    </div>

  </ng-container>

</div>
