.widget-color {
  background-color: #093543; /*Changes the complete backgroud of web widget*/
  color: rgb(255, 255, 255); /*Changes the text of web widget*/
}
.widget-color:hover, .widget-color:focus {
  background-color: #235c5e;  /*Changes the complete backgroud of web widget on hover*/
  color: rgb(255, 255, 255);  /*Changes the text of web widget on hover*/
}

.top-wrapper {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

/**
* Welcome Wrapper Styling
**/
.widget-wrapper {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 45px 55px 100px #efefef;
  transition: all 0.3s;
  max-width: 300px;
  position: relative;
  z-index: 10000;
  width: 300px;
  height: 200px;
  border: none;
  bottom: 50px;
  right: 10px;
}
.widget-wrapper-header {
  background: #093543;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  border-radius: 8px 8px 0 0;
}
.widget-wrapper-header p {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
}
.widget-wrapper-header strong {
  font-weight: 400;
  font-size: 16px;
}
.widget-wrapper-content {
  padding: 15px;
  text-align: center;
  min-height: 90px;
  min-width: 200px;
}
.widget-wrapper-content p{
  text-align: left;
  font-size: 13px;
  color: #555;
  margin: 0;
  line-height: 1.5;
}
.widget-wrapper-content button {
  padding: 10px;
  outline: none;
  border: 0;
  border-radius: 5px;
  margin: 15px auto 0;
  cursor: pointer;
  transition: all .3s;
}
.widget-wrapper-content button:hover {
  transition: all .3s;
}
button.close-widget-wrapper {
  background: transparent;
  border: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: .8;
  transform: rotate(45deg);
  display: block;
  transition: all .3s;
  cursor: pointer;
  outline: none;
}
.widget-wrapper:hover  button.close-widget-wrapper{
  display: inline-block;
  transition: all .3s;
}

/**
* Bar View Chat Button
**/

.widget-loading{
  display: block;
}
.widget-dropdown.widget-bar-view {
  right: 0;
  width: calc(100% - 10px);
  bottom: 1px;
  max-width: 325px;
}
.widget-bar-view button#chatIconBtn {
  width: 100%;
  border-radius: 5px 5px 0 0;
  height: 36px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}
.widget-bar-view button#chatIconBtn span {
  text-align: left;
  padding: 0 15px;
  line-height: 0;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
}
.widget-dropdown {
  position: fixed;
  right: 10px;
  bottom: 20px;
  width: 50px;
  z-index: 10000;
}
.widget-dropdown-content {
  position: absolute;
  min-width: 55px;
  overflow: auto;
  z-index: 1;
  top: -35px;
  height: 70px;
  display: block;
  width: 100%;
  max-width: 315px;
  right: 0;
}
div#myDropdown.widget-show-option {
  display: block;
  height: 70px;
  top: -35px;
  overflow:hidden;
}
div#myDropdown.widget-show {
  display: block !important;
  height: 120px;
  top: -112px;
}
.widget-bar-trigger {
  width: 100%;
  height: 35px;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  outline: none;
  display: block;
  position: relative;
  overflow: visible;
}
.widget-bar-content {
  position: absolute;
  z-index: 1;
  top: -35px;
  display: block;
  width: 85%;
  min-width: 300px;
  right: 10px;
}
.widget-option-trigger.widget-chat-trigger{
  background-image: url("../../assets/images/chat.svg");
}

  /*/---------------------/*/
 /*/ Style for form area /*/
/*/---------------------/*/

.widget-form-area {
  position: relative;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  display: block;
  z-index: 99;
  width: 315px;
  height: 490px;
}

/*Mobile and Application Version*/
.widget-form-area.widget-mobile-version {
  display: none;
  width: 100%;
  height: 100%;
}

.widget-form-area.widget-mobile-version .widget-form {
  background: #ffffff;
  height: calc(100% - 20px);
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.widget-form-area.widget-mobile-version .widget-header-icon {
  display: none !important;
}

/* for Arabic language rtl direction */
.widget-form-area.lang-arabic {
  text-align: right;
  direction: rtl;
}

.widget-form-area.lang-arabic #phone{
  text-align: left;
  direction: ltr;
}

.widget-form {
  background: #ffffff;
  height: 100%;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.widget-form-header {
  padding: 0 5px;
  height: 36px;
  z-index: 99;
  position: relative;
  border-radius: 3px 3px 0 0;
  cursor: pointer;
}

.widget-form-header h5 {
  font-size: 13px;
  font-weight: 500;
  height: 36px;
  line-height: 36px;
  margin: 0;
  display: inline-block;
  padding: 0 0 0 10px;
}

.widget-form-header .widget-header-icon {
  position: absolute;
  right: 10px;
}

.widget-form-header .widget-header-icon img {
  height: 36px;
  width: 24px;
}

.widget-form-area form{
  margin: 0;
  height: 100%;
}

.widget-form-content {
  height: calc(100% - 85px);
  overflow: auto;
  padding: 10px 15px;
}

.widget-form-area .widget-form-group {
  margin-bottom: 10px;
}

.widget-form-area .widget-form-group label{
  font-size: 12px;
  color: #010101;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 5px;
}

.widget-form-group .widget-form-control {
  display: block;
  border-radius: 3px;
  border: 1px solid rgba(114, 114, 114, 0.3);
  height: 36px;
  line-height: 36px;
  padding: 0 5px;
  outline: none;
  width: calc(100% - 10px);
  font-size: 16px !important;

}

.widget-form-group select.widget-form-control {
  width: 100%;
}

.widget-form-group .widget-form-control.widget-error {
  border-color: #f00 !important;
}

.widget-form-group textarea.widget-form-control {
  height: 80px;
  line-height: 18px;
}

.widget-btn.widget-form-trigger {
  width: calc(100% - 30px);
  font-size: 14px;
  font-weight: 500;
  height: 34px;
  line-height: 34px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  display: block;
  margin: 0 auto;
  cursor: pointer;
  max-width: 300px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.widget-form-group .widget-form-control:focus {
  border: 2px inset rgba(0,0,0,.2) !important;
}

.widget-form-group span.widget-required {
  color: #f44336;
  font-size: 15px;
  position: relative;
  top: 2px;
}

.widget-form-group small {
  color: #f44336;
  position: relative;
  font-size: 10px;
  top: 2px;
  display: block;
}

  /*/---------------------/*/
 /*/ Style for form area /*/
/*/---------------------/*/
