.widget-color {
  background-color: #1A50A3;
  color: rgb(255, 255, 255);
}

.widget-color:hover,
.widget-color:focus {
  background-color: #1A50A3;
  color: rgb(255, 255, 255);
}

.top-wrapper {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

  /*/---------------------/*/
 /*/ Style for chat area /*/
/*/---------------------/*/

.widget-chat-area {
  position: absolute;
  right: 10px;
  bottom: 0;
  display: block;
  width: 335px;
  height: 559px;
  border-radius: 10px;
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.4));
  background: #ffffff;
}

/*Mobile and Application Version*/
.widget-chat-area.widget-mobile-version {
  display: none;
  width: 100%;
  height: 100%;
}

.widget-chat-area.widget-mobile-version .widget-chat {
  background: #ffffff;
  height: calc(100% - 20px);
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.widget-chat-area.widget-mobile-version .widget-header-icon {
  display: none !important;
}

/* for Arabic language rtl direction */
.widget-chat-area.lang-arabic {
  text-align: right;
  direction: rtl;
}

.widget-chat-area.lang-arabic #phone{
  text-align: left;
  direction: ltr;
}

// Widget Header
.widget-chat {
  background: #ffffff;
  height: 97%;
  width: 97%;
  border-radius: 10px;
  position: relative;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
}

.widget-chat-header {
  padding: 0 5px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
}

.widget-chat-header h5 {
  line-height: 36px;
  margin: 0;
  position: absolute;
  left: 10px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
}

.widget-header-icon {
  position: absolute;
  top: 7px;
  right: 35px;
  width: 21px;
  height: 21px;
  border-color: rgba(14, 50, 105, 0.3);
  border-width: 1px;
  border-style: solid;
  border-radius: 7px;
  background: #1a50a3;
}

.widget-header-icon img {
  height: 20px;
  width: 20px;
}

.widget-header-close {
  position: absolute;
  top: 7px;
  right: 10px;
  width: 21px;
  height: 21px;
  border-color: rgba(14, 50, 105, 0.3);
  border-width: 1px;
  border-style: solid;
  border-radius: 7px;
  background: #1a50a3;
}

.widget-header-close img {
  height: 20px;
  width: 20px;
  transform: rotate(45deg);
}

.widget-chat-content {
  // padding: 10px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  top: -15px;
}

.widget-chat-navbar {
  /* padding: 0 5px; */
  height: 40px;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 1px solid #afb1b3;
  cursor: pointer;
}

.widget-navbar-icon {
  position: absolute;
  top: 5px;
  width: 32px;
  height: 30px;
  border: 1px solid rgba(14, 50, 105, 0.3);
  border-radius: 7px;
  color: #1a50a3;
  background: white;
  font-size: 28px;
  text-align: center;
}

.btnOne {
  right: 10px;
}

.btnTwo {
  right: 50px;
}

.btnThree {
  right: 90px;
}

.btnFour {
  right: 130px;
}

.btnFive {
  right: 170px;
}

.widget-navbar-icon img {
  height: 20px;
  width: 20px;
}

  /*/---------------------/*/
 /*/ Style for chat area /*/
/*/---------------------/*/
