<div class="top-wrapper">
  <ng-container *ngIf="chatActive">
    <!-- Active chat screen -->
    <div class="widget-chat-area">
      <div class="widget-chat">
        <div class="widget-chat-header widget-color" onclick="chatFormAction()">
          <h5 id="title">Let's Talk</h5>
          <span class="widget-header-icon"><img src="../../assets/images/remove.svg" alt="minimize"> </span>
          <span class="widget-header-close"><img src="../../assets/images/add.svg" alt="close"> </span>
        </div>
        <div class="widget-chat-content">
          <div class="widget-chat-navbar">
            <span class="widget-navbar-icon btnOne material-symbols-outlined">
              more_vert
            </span>
            <span class="widget-navbar-icon btnTwo material-symbols-outlined">
              format_size
            </span>
            <span class="widget-navbar-icon btnThree material-symbols-outlined">
              videocam
            </span>
            <span class="widget-navbar-icon btnFour material-symbols-outlined">
              call
            </span>
            <span class="widget-navbar-icon btnFive material-symbols-outlined">
              forum
            </span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="chatEnded">
    <!-- End chat screen -->
  </ng-container>
</div>
