{
    "SOCKET_URL": "${SOCKET_URL}",
    "FILE_SERVER_URL": "${FILE_SERVER_URL}",
    "BOT_FRAMEWORK_URL" : "${BOT_FRAMEWORK_URL}",
    "CCM_URL": "${CCM_URL}",
    "TRANSCRIPT_URL":"${TRANSCRIPT_URL}",
    "CONVERSATIONAL_URL": "${CONVERSATIONAL_URL}",
    "FORM_URL": "${FORM_URL}",
    "WEBHOOK_URL": "${WEBHOOK_URL}"
}
