{
    "SOCKET_URL": "${SOCKET_URL}",
    "CCM_URL": "${CCM_URL}",
    "WIDGET_IDENTIFIER": "${WIDGET_IDENTIFIER}",
    "FILE_SERVER_URL":"${FILE_SERVER_URL}",
    "BOT_FRAMEWORK_URL":"${BOT_FRAMEWORK_URL}",
    "TRANSCRIPT_URL":"${TRANSCRIPT_URL}"
}
