/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

:root {
  --main-color: rgba(239, 242, 247, 0.16);
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif !important;
  font-size: 12px;
  font-weight: 400;
}



.mat-radio-button {

  &.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #000000;
  }

  &.mat-accent .mat-radio-inner-circle,
  .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
  &.mat-radio-checked .mat-radio-persistent-ripple,
  &.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #000000;
  }


}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 2px !important;
  width: 100%;
}

.mat-select {
  border: 1px solid #E3E3E3;
  border-radius: 5px !important;
  padding: 10px;
  margin-bottom: 10px;
}
.error-snackbar {
    bottom: 150px;
    position: relative;
    right: -1px;
    min-width: 319px !important;
}

.mcqAttribute {
  .radioGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px; // spacing between radio buttons
  }

  .radioWrapper {
    width: 100%;

    mat-radio-button {
      width: 100%;
      display: flex;
      align-items: center;

      // Make sure the internal label content is laid out properly
      .mat-radio-label {
        width: 100%;
        display: flex;
        align-items: center;
      }

      .mat-radio-label-content {
        flex-grow: 1;
        overflow: hidden;
      }

      .text-wrap-fw {
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

@media print {
  blockquote {
    box-shadow: none;
    border: none;
    }
  }
.email-preview-main{
  blockquote {
    margin: 0 0 0 10px;
    border-left: 1px solid rgb(211 211 211);
    padding-left: 10px;
    }
  }
